$color-bg: #f06;
$color-game-bg: #333;
$color-text: #ccc;
$color-lines: #aaa;

body {
    background-color: $color-bg;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-text;
}

#tetris {
    background-color: $color-game-bg;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    .container {
        display: grid;
        // grid-template-columns: repeat(10, 1fr);

        .tile {
            border: 1px solid transparentize($color-lines, .8);
            padding: 30px;
        }
    }
}